# Maven
target/
pom.xml.versionsBackup

# IntelliJ IDEA
.idea/
*.iml

# Eclipse and VSCode
.settings/
.project
.classpath
.factorypath

#lucene
# TODO: remove this ignore once monitoring folder has been moved
context-monitoring/monitoring/
smartclide-monitoring/monitoring/
